docs/work
bin
!bin/generate_driver
!bin/metal
work
pkg
doc
Gemfile.lock
.yardoc
*.gem
.idea
docs/examples/nodes
docs/examples/clients
docs/examples/data_bags
chef-provisioning-fake
coverage
chef-client-version.gemfile.lock
